@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="text-center">
    <p style="font-size : 50px" class="display-4">내가 궁금하니?</p>
    <p><a href="https://www.instagram.com/guemin12/">일단 팔로우부터 GOGO~</a>.</p>
</div>
