
@{
    ViewData["Title"] = "Portpolio";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Portpolio</h2>
        <h5 class="description">나의 모든 것</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-6 ml-auto mr-auto">
        <div class="profile-tabs">
            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#Programmer" role="tab" data-toggle="tab">
                        <i class="material-icons">keyboard</i> Programmer
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                        <i class="material-icons">volunteer_activism</i> Travel
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                        <i class="material-icons">piano</i> Hobby
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content tab-space">
    <div class="tab-pane active text-center gallery" id="Programmer">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/assets/img/사진/Programmer작업/ESR시스템.JPG" class="rounded">
                <img src="~/assets/img/사진/Programmer작업/게시판만들기.JPG" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/assets/img/사진/Programmer작업/네이버openAPI.JPG" class="rounded">
                <img src="~/assets/img/사진/Programmer작업/웹페이지.JPG" class="rounded">
            </div>
        </div>
    </div>
    <div class="tab-pane text-center gallery" id="works">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/assets/img/사진/여행사진폴더/내룸메.jpg" class="rounded">
                <img src="~/assets/img/사진/여행사진폴더/동방명주.jpg" class="rounded">
                <img src="~/assets/img/사진/여행사진폴더/브리즈번.jpg" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/assets/img/사진/여행사진폴더/세부바다.jpg" class="rounded">
                <img src="~/assets/img/사진/여행사진폴더/쿤밍여행2.jpg" class="rounded">
            </div>
        </div>
    </div>
    <div class="tab-pane text-center gallery" id="favorite">
        <div class="row">
            <div class="col-md-3 ml-md-auto mr-md-auto">
                <img src="~/assets/img/사진/문화생활폴더/문화생활.jpg" class="rounded">
                <img src="~/assets/img/사진/문화생활폴더/문화생활2.jpg" class="rounded">
                <img src="~/assets/img/사진/문화생활폴더/문화생활3.jpg" class="rounded">

            </div>
            
        </div>
    </div>
</div>
